@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url(../fonts/Inter-Medium.woff);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    src: url(../fonts/Manrope-Regular.woff);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: url(../fonts/Manrope-Bold.woff);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 800;
    src: url(../fonts/Manrope-ExtraBold.woff);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    src: url(../fonts/Manrope-Medium.woff);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 600;
    src: url(../fonts/Manrope-Semibold.woff);
}

* {
    font-family: 'Manrope';
}

html {
    overflow-x: hidden;
}

header {
    background-image: url(../image/title.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
    margin-bottom: 10vh;
}

.top-bar {
    padding: 1% 5%;
    position: relative;
}

.top-bar::before {
    content: " ";
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
    position: absolute;
    opacity: 0.7;
    bottom: -7px;
    left: 0;
}

.location {
    position: relative;
}

.location span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #FFFFFF;
    position: relative;
}

.location span::before {
    content: url(../image/location.svg);
    width: 1vw;
    height: 1vw;
    position: absolute;
    left: -29px;
}

.btn-block {
    padding: 10% 13%;
    font-size: clamp(14px, 1vw, 36px);
    position: relative;
    z-index: 2;
    background: url(../image/button.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-block input {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #333333;
}

h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 4%;
    font-size: clamp(30px, 4vw, 148px);
}

.sub-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #FFFFFF;
    font-size: clamp(18px, 2vw, 60px);
}

.header-content {
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
}

.header-content__right-part {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.img-block {
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -10px;
}

.img-block-link {
    background: #4181FF;
}

section {
    padding: 1% 5%;
    margin-bottom: 100px;
}

.section-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    font-size: clamp(32px, 3vw, 90px);
    text-align: center;
    letter-spacing: -0.02em;
    color: #333333;
    margin: 0 auto;
}

.card-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(23px, 2vw, 70px);
    line-height: 105%;
    color: #333333;
    margin-bottom: 17px;
}

.card-text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #333333;
    font-size: clamp(14px, 1vw, 33px);
}

.task-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 9% 7% 9% 7%;
}

.task-card img {
    margin-bottom: 27px;
}

.task-card-1 {
    background-image: url(../image/card.png);
}

.task-card-2 {
    background-image: url(../image/card-2.png);
}

.task-card-3 {
    background-image: url(../image/card-3.png);
}

.task-title {
    margin-bottom: 60px;
}

.connect-card-text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(20px, 1vw, 37px);
    line-height: 130%;
    text-align: center;
    color: #333333;
    flex: 1 1 auto;
    margin-bottom: 30px;
    padding-top: 50px;
}

.line-conent {
    border-top: 1px solid #CDCDCD;
}

.line {
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
}

.connect-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.line-last {
    border-left: 1px solid #CDCDCD;
    height: 101px;
}

.line-first {
    height: 101px;
    border-right: 1px solid #CDCDCD;
}

.line-top {
    border-top: 1px solid #CDCDCD;
    position: absolute;
    width: 100%;
    left: 0;
}

.grey-con {
    background: #F1F1F1;
    padding: 100px 0;
}

.work-format {
    position: relative;
}

.work-format__title {
    margin-bottom: 12px;
}

.work-format__sub-title {
    display: block;
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #333333;
    margin-bottom: 60px;
}

.item img {
    width: 100%;
    height: 100%;
}

.format-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

.format-card img {
    margin-bottom: 40px;
}

.format-card .card-title {
    margin-bottom: 25px;
}

.format-card .card-text {
    margin-bottom: 50px;
}

.form-btn-1 {
    background-image: url(../image/form-btn.png);
}

.form-btn-2 {
    background-image: url(../image/button-red.png);
}

.form-btn-3 {
    background-image: url(../image/button-yellow.png);
}

.form-btn-3,
.form-btn-2,
.form-btn-1 {
    padding: 6% 7%;
}

.prev,
.next {
    position: absolute;
    z-index: 4;
    bottom: 2vw;
}

.prev {
    right: 8vw;
}

.next {
    right: 3vw;
}

.work-line {
    position: absolute;
    content: "";
    width: 100%;
    border-top: 1px solid #CDCDCD;
    top: -1vw;
    height: 60px;
    border-left: 1px solid #CDCDCD;
}

.work-line-3 {
    height: 0;
    top: 35vw;
}

.invite-img-con {
    width: 100%;
}

.invite-img-con img {
    width: 100%;
    height: 100%;
}

.invite-card {
    display: flex;
    justify-content: space-between;
}

.mentor-card {
    border: 1px solid #CDCDCD;
    padding: 40px 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secondSlider .prev {
    right: -46vw;
}

#secondSlider .next {
    right: -51vw;
}

#secondSlider .prev,
#secondSlider .next {
    bottom: -1vw;
}

.mentor-avatar {
    border-radius: 50%;
}

.mentor-job {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 105%;
    text-align: center;
    color: #959595;
}

.mentor-name {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 115%;
    text-align: center;
    color: #333333;
    margin-bottom: 10px;
}

.invite-formate-slider .prev,
.invite-formate-slider .next {
    bottom: -85%;
}

.invite-formate-slider .prev {
    right: 30%;
}

.invite-formate-slider .next {
    right: 5%;
}

.info-about-event span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-size: clamp(14px, 1vw, 32px);
    line-height: 105%;
    color: #959595;
    margin-bottom: 15px;
    display: block;
}

.info-event {
    margin-bottom: 35px;
}

.info-about-event h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-size: clamp(22px, 2vw, 83px);
    line-height: 105%;
    letter-spacing: -0.01em;
    color: #333333;
    padding-bottom: 35px;
    border-bottom: 1px solid #E3E3E3;
}

.info-about-event p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    font-size: clamp(17px, 1vw, 37px);
    line-height: 125%;
    color: #333333;
}

.info-about-event {
    display: flex;
    flex-direction: column;
    padding: 60px;
    height: 100%;
}

.event-container {
    border: 1px solid #CDCDCD;
    margin-bottom: 30px;
}

.events__title {
    margin-bottom: 35px;
}

.event-data {
    border: 1px solid #4181FF;
    border-radius: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 105%;
    color: #4181FF;
    padding: 12px 20px;
    max-width: 125px;
    text-align: center;
}

.info-about-event .info-event:nth-child(3) {
    flex: 1 1 auto;
}

.mentor-card {
    margin: 0 5px;
}

.video-part {
    max-width: 100%;
}

.video-part img {
    height: 100%;
    width: 100%;
}

.slider-mob {
    display: none;
}

.slider-pc {
    display: block;
}

.event-container {
    margin-bottom: 50px;
}

.event-btn {
    padding: 3% 7%;
}

.anons-back {
    background-image: url(../image/anouns.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.anons {
    padding: 100px 5%;
    text-align: center;
}

.anons-card {
    background-color: #FFFFFF;
    padding: 15% 12%;
    height: 100%;
}

.anons-card h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    font-size: clamp(28px, 2vw, 60px);
    line-height: 110%;
    text-align: center;
    color: #333333;
}

.anons-card p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 146%;
    color: #FFFFFF;
}

.anons-card-link {
    background-color: #4181FF;
}

.anons-card a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    font-size: clamp(18px, 2vw, 45px);
    line-height: 146%;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.anons-card-bc p,
.anons-card-bc a {
    color: #333333;
}

@media(min-width:2400px) {
    .event-data {
        transform: scale(2) translate(21%, 0);
    }
}

@media(max-width:1199px) {
    .work-formate-slider .prev,
    .work-formate-slider .next {
        top: 50%;
    }
    .work-formate-slider .next {
        right: 1vw;
    }
    .work-formate-slider .prev {
        left: 1vw;
    }
    .work-line {
        top: -47px;
        height: 30px;
    }
    .work-format__sub-title {
        margin-bottom: 80px;
    }
    .format-card {
        align-items: unset;
    }
    .slide img {
        width: 100%;
    }
    .location {
        margin-top: 20px;
    }
    .line {
        border-left: none;
        border-right: none;
        border-top: 1;
    }
    .line-mb {
        border-top: 1px solid #CDCDCD;
    }
    .connect-card {
        margin-bottom: 40px;
    }
    .slider-mob {
        display: block;
        margin-bottom: 35px;
    }
    .slider-pc {
        display: none;
    }
    .slider-mob .next,
    .slider-mob .prev,
    .work-formate-slider .prev,
    .work-formate-slider .next {
        top: 45%;
        width: 30px;
        height: 30px;
    }
    .slider-mob .next {
        right: 2%;
    }
    .slider-mob .prev {
        left: 2%;
    }
    .mentor-card {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .format-card img {
        margin-bottom: 0;
    }
    .mentor-card-txt {
        display: flex;
        flex-direction: column;
    }
    .format-card .icon-card {
        margin-bottom: 30px;
    }
}

@media(max-width:768px) {
    .img-block {
        min-width: 78px;
        min-height: 78px;
    }
    .img-block:not(:last-child) img {
        width: 78px;
        height: 78px;
    }
    .location span {
        font-size: 16px;
        margin-top: 20px;
    }
    .header-content__left-part {
        margin-bottom: 30px;
    }
    .event-btn {
        padding: 10% 10%;
    }
}

@media(max-width:576px) {
    .grey-con {
        padding-bottom: 0;
    }
    .task-title {
        font-size: 24px;
    }
}

@media(min-width:700px) and (max-width:1200px) {
    .form-btn-3,
    .form-btn-2,
    .form-btn-1 {
        padding: 4% 7%;
    }
    .event-btn {
        padding: 5% 7%;
    }
}